[submodule "src/third_party/freertos"]
	path = src/third_party/freertos
	url = https://github.com/cjlano/freertos
[submodule "Unity"]
	path = Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "elua"]
	path = elua
	url = https://github.com/elua/elua.git
